@media print, screen {
	@font-face {
		font-family: knewave;
		src: url('fonts/knewave/webfonts/knewave-webfont.eot') format('embedded-opentype'),
			 url('fonts/knewave/webfonts/knewave-webfont.svg') format('svg'),
			 url('fonts/knewave/webfonts/knewave-webfont.woff') format('woff'),
			 url('fonts/knewave/webfonts/knewave-webfont.ttf') format('ttf');
	}
	@font-face {
		font-family: orbitron;
		src: url('fonts/orbitron/Orbitron_Black.otf'),
			 url('fonts/knewave/webfonts/knewave-webfont.eot'); /* IE9 */
	}

	body {
		background-color: rgb(250,250,250);
		font-size: 1em;
		font-family: Arial;
		font-weight: 500;
	}

	p {
		text-align: justify;
		line-height: 1.4em;
	}

	.floatLeft {float: left;}
	.floatRight {float: right;}

	.multiSign {
		font-size: 1.75em;
		padding: 5 0 0 0;
		margin: 0 12px;
	}

	.labelText {
		font-size: 1em;
		font-family: Arial;
		font-weight: 500;
		text-shadow: 0px 0px 1px rgba(0,0,0,0.5);
	}

	.topLabel {
		text-align: center;
		margin: 2 auto 0 auto;
		color: white;
		font-size: 18px;
		letter-spacing: 0.05em;
		font-family: Arial;
		font-weight: 500;
		text-shadow: 0px 0px 5px rgba(0,0,0,1);
	}

	.sideLabel {
		width: 150px;
		height: 42px;
		margin: 10 auto 10 auto;
		vertical-align: center;
		color: rgb(32,32,32);
	}


	/*---------------------------------------------FORM STYLES------------------------------------------*/

	.weightField {
		width: 100px;
		text-align: center;
	}

	.repField {
		width: 60px;
		text-align: center;
	}

	.setField {
		width: 60px;
		text-align: center;
	}

	/*---------------------------------------------OUTPUT TABLES------------------------------------------*/

	.outputHeaders {
		padding: 4 0 4 0;
	}

	.outputHeaders .wide {
		width: 175px;
	}

	.tableDivider {
		margin: 0;
		padding: 0px 0 0px 0;
	}

	.monday {}

	.wednesday {}

	.friday {}

	.weekTable td {vertical-align: top;}

	.title {
		font-size: 1.2em;
		text-align: center;
		vertical-align: center;
		padding: 10 0 10 0;
	}

	.dayTable {
		width: 100%;
		padding: 0;
		margin: 0;
	}

	.excerciseTable {
		width: 100%;
	}

	tbody, tr, td {
		margin: 0;
		text-align: center;
	}

	.repsCell, .weightCell {
		padding: 4 0 4 0;
	}

	.liftType {
		font-size: 1em;
		padding: 6 0 6 0;
	}

	.tableSpacer {
		height: 30px;
	}

	/*---------------------------------------------CALCULATOR STYLES------------------------------------------*/

	.bubble {
		width: 480px;
		border-radius: 8px;
		text-align: center;
		margin: 32px auto 0 auto;
		page-break-after: always;
	}

	.field {
		height: 32px;
		border-radius: 9px;
		margin: 4 auto 0 auto;
		font-family: Arial, Helvetica, sans-serif;
		font-weight: 700;
		text-align: center;
	}

	.divider {
		height: 42px;
		margin: 0;
		padding: 12px 0 12px 0;
	}

	.assistanceWork, .assistanceWorkHeader {
		padding: 8 0 8 0;
	}

	.assistanceWork {
		line-height: 1.5em;
	}

	/*------------------------------------------------------------------------------------------*/
	/*---------------------------------------------IDS------------------------------------------*/
	/*------------------------------------------------------------------------------------------*/

	#robotDiv {
		height: 150px;
		padding: 12 0 0 0;
		margin: 0;
	}

	#footer {
		border-radius: 0px 0px 8px 8px;
		color: white;
		padding-top: 8px;
		font-size: 0.95em;
		height: 32px;
	}

	#header {
		border-radius: 8px 8px 0px 0px;
		color: white;
		font-size: 2.5em;
		padding-bottom: 12px;
		padding-top: 6px;
		font-family: orbitron;
		letter-spacing: 0.12em;
	}

	#programTitle {
		height: 36px;
		font-size: 1.25em;
		padding: 8px 0 0 0;
		font-family: orbitron;
		letter-spacing: 0.12em;
	}

	#liftsLabel {width: 150px;}

	#repsLabel {width: 135px;}

	#topLabelRow {height: 24px;}

	#advancedOptions {height: 24px;}

	#advancedOptions:hover {}

	#output, #errorOutput {
		padding: 0 0 24px 0;
		height: 170px;
		font-size: 1em;
		font-family: Arial;
		font-weight: 500;
		line-height: 2em;
	}

	#buttonDivider {
		height: 64px;
		margin: 0;
		padding: 0;
	}

	#submit {
		cursor: pointer;
		height: 100%;
		width: 100%;
		border: 0;
		padding: 20px 0 0 0;
		font-family: Arial;
		font-weight: 100;
		font-size: 0.9em;
		color: rgb(32,32,32);
	}

	#submit:hover .buttonHelper {opacity: 1;}

	.button {
		font-family: Arial;
		font-weight: 100;
		font-size: 1.25em;
		color: rgb(32,32,32);
	}

	.buttonHelper {
	    z-index: -1;
	    opacity: 0;

	    background: -webkit-gradient(linear, 0 0, 0 100%, from(lime), to(#89af37));
	    background: -webkit-linear-gradient(top,lime,#89af37);
	    background:    -moz-linear-gradient(top,lime,#89af37);
	    background:      -o-linear-gradient(top,lime,#89af37);
	    background:         linear-gradient(top,lime,#89af37);

	    -webkit-transition: opacity 1s linear;
	       -moz-transition: opacity 1s linear;
	         -o-transition: opacity 1s linear;
	            transition: opacity 1s linear;
	}

	#advancedOptions {cursor: pointer;}

	#results {page-break-after: always;}
}


/*----------------------------------------------------------------------------------------------------*/
/*-----------------------------------------------SCREEN-----------------------------------------------*/
/*----------------------------------------------------------------------------------------------------*/


@media screen {
/*---------------------------------------------OUTPUT TABLES------------------------------------------*/

	.outputHeaders {
		border-bottom: 1px solid rgba(0,0,0,0.25);
	}

	.outputHeaders td {
		border-right: 1px solid rgba(0,0,0,0.25);
		border-left: 1px solid rgba(0,0,0,0.25);
	}

	.outputRow td {
		border-right: 1px solid rgba(0,0,0,0.25);
		border-left: 1px solid rgba(0,0,0,0.25);
	}

	.tableDivider {
		border-left: 1px solid rgba(0,0,0,0.25);
		border-right: 1px solid rgba(0,0,0,0.25);
	}

	.title {
		border-bottom: 1px solid rgba(0,0,0,0.25);
		background-color: rgba(0,0,0,0.05);
	}

	.excerciseTable {
		width: 100%;
	}

	.repsCell, .weightCell {
		border-bottom: 1px solid rgba(0,0,0,0.25);
	}

	.liftType {
		border-bottom: 1px solid rgba(0,0,0,0.25);
	}

	.dayTable td:nth-child(3), .dayTable td:nth-child(2) {
		border-left: 1px solid rgba(0,0,0,0.25);
	}

	.excerciseTable tr:nth-child(2n+3) {
		background-color: rgba(0,0,0,0.05);
	}

	.tableSpacer {
		border-bottom: 1px solid rgba(0,0,0,0.5);
		border-right: 1px solid rgba(0,0,0,0.25);
	}

	/*---------------------------------------------CALCULATOR STYLES------------------------------------------*/

	.bubble {
		background: #f2f2f2; /* Old browsers */
		background: -moz-linear-gradient(top,  #f2f2f2 0%, #e6dcdc 100%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f2f2f2), color-stop(100%,#e6dcdc)); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(top,  #f2f2f2 0%,#e6dcdc 100%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(top,  #f2f2f2 0%,#e6dcdc 100%); /* Opera 11.10+ */
		background: -ms-linear-gradient(top,  #f2f2f2 0%,#e6dcdc 100%); /* IE10+ */
		background: linear-gradient(to bottom,  #f2f2f2 0%,#e6dcdc 100%); /* W3C */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2f2f2', endColorstr='#e6dcdc',GradientType=0 ); /* IE6-9 */
		width: 480px;
		border-radius: 8px;
		box-shadow: 3px 3px 8px #888888;
		text-align: center;
		margin: 32px auto 0 auto;
	}

	.field {
		border: 1px solid rgba(0,0,0,0.25);
		text-shadow: 0px 0px 1px rgba(0,0,0,0.15);
		color: rgb(32,32,32);
		box-shadow: inset 0px 0px 5px rgba(0,0,0,0.25);
		background-color: rgb(246,246,246);
	}

	.divider {
		border-top: 1px solid rgba(0,0,0,0.25);
		border-left: 1px solid rgba(0,0,0,0.25);
		border-right: 1px solid rgba(0,0,0,0.25);
	}

	/*------------------------------------------------------------------------------------------*/
	/*---------------------------------------------IDS------------------------------------------*/
	/*------------------------------------------------------------------------------------------*/

	#footer {
		background-color: rgb(240,15,90);
		background-image: linear-gradient(bottom, rgb(240,17,91) 0%, rgb(240,17,17) 100%);
		background-image: -o-linear-gradient(bottom, rgb(240,17,91) 0%, rgb(240,17,17) 100%);
		background-image: -moz-linear-gradient(bottom, rgb(240,17,91) 0%, rgb(240,17,17) 100%);
		background-image: -webkit-linear-gradient(bottom, rgb(240,17,91) 0%, rgb(240,17,17) 100%);
		background-image: -ms-linear-gradient(bottom, rgb(240,17,91) 0%, rgb(240,17,17) 100%);
		background-image: -webkit-gradient(linear, left bottom,	left top, color-stop(0, rgb(240,17,91)), color-stop(1, rgb(240,17,17)));
		border-radius: 0px 0px 8px 8px;
		color: white;
		box-shadow: 0px 0px 3px rgba(0,0,0,0.2);
		border-top: 1px solid rgba(0,0,0,0.2);
	}

	#header {
		background-color: rgb(240,15,90);
		background-image: linear-gradient(bottom, rgb(240,17,17) 0%, rgb(240,17,91) 100%);
		background-image: -o-linear-gradient(bottom, rgb(240,17,17) 0%, rgb(240,17,91) 100%);
		background-image: -moz-linear-gradient(bottom, rgb(240,17,17) 0%, rgb(240,17,91) 100%);
		background-image: -webkit-linear-gradient(bottom, rgb(240,17,17) 0%, rgb(240,17,91) 100%);
		background-image: -ms-linear-gradient(bottom, rgb(240,17,17) 0%, rgb(240,17,91) 100%);
		background-image: -webkit-gradient(linear, left bottom,	left top, color-stop(0, rgb(240,17,17)), color-stop(1, rgb(240,17,91)));
		color: white;
		text-shadow: 1px 1px 5px rgba(0,0,0,0.8);
		box-shadow: 0px 0px 3px rgba(0,0,0,0.2);
	}

	#programTitle {
		text-shadow: 1px 1px 5px rgba(0,0,0,0.3);
		box-shadow: 0px 0px 3px rgba(0,0,0,0.2);
	}

	#topLabelRow {
		background-color: rgb(240,15,90);
		background-image: linear-gradient(bottom, rgb(240,17,17) 0%, rgb(240,17,91) 100%);
		background-image: -o-linear-gradient(bottom, rgb(240,17,17) 0%, rgb(240,17,91) 100%);
		background-image: -moz-linear-gradient(bottom, rgb(240,17,17) 0%, rgb(240,17,91) 100%);
		background-image: -webkit-linear-gradient(bottom, rgb(240,17,17) 0%, rgb(240,17,91) 100%);
		background-image: -ms-linear-gradient(bottom, rgb(240,17,17) 0%, rgb(240,17,91) 100%);
		background-image: -webkit-gradient(linear, left bottom,	left top, color-stop(0, rgb(240,17,17)), color-stop(1, rgb(240,17,91)));
	}

	#advancedOptions {
		background-color: rgb(240,15,90);
		background-image: linear-gradient(bottom, rgb(240,17,17) 0%, rgb(240,17,91) 100%);
		background-image: -o-linear-gradient(bottom, rgb(240,17,17) 0%, rgb(240,17,91) 100%);
		background-image: -moz-linear-gradient(bottom, rgb(240,17,17) 0%, rgb(240,17,91) 100%);
		background-image: -webkit-linear-gradient(bottom, rgb(240,17,17) 0%, rgb(240,17,91) 100%);
		background-image: -ms-linear-gradient(bottom, rgb(240,17,17) 0%, rgb(240,17,91) 100%);
		background-image: -webkit-gradient(linear, left bottom,	left top, color-stop(0, rgb(240,17,17)), color-stop(1, rgb(240,17,91)));

	}

	#output, #errorOutput {
		text-shadow: 0px 0px 1px rgba(0,0,0,0.5);
	}

	#buttonDivider {
		border-top: 1px solid rgba(0,0,0,0.25);
		border-left: 1px solid rgba(0,0,0,0.25);
		border-right: 1px solid rgba(0,0,0,0.25);
		color: red;
	}

	#submit {
		border: none;
		box-shadow: 0px 0px 5px rgba(0,0,0,0.75);
		text-shadow: 0px 0px 1px rgba(0,0,0,0.2);
		color: rgb(32,32,32);
		background: #f2f2f2; /* Old browsers */
		background: -moz-linear-gradient(top,  #f2f2f2 0%, #e6dcdc 100%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f2f2f2), color-stop(100%,#e6dcdc)); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(top,  #f2f2f2 0%,#e6dcdc 100%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(top,  #f2f2f2 0%,#e6dcdc 100%); /* Opera 11.10+ */
		background: -ms-linear-gradient(top,  #f2f2f2 0%,#e6dcdc 100%); /* IE10+ */
		background: linear-gradient(to bottom,  #f2f2f2 0%,#e6dcdc 100%); /* W3C */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2f2f2', endColorstr='#e6dcdc',GradientType=0 ); /* IE6-9 */
	}

	.button {
		text-shadow: 0px 0px 1px rgba(0,0,0,0.2);
	}

	.buttonHelper {
	    z-index: -1;
	    opacity: 0;

	    background: -webkit-gradient(linear, 0 0, 0 100%, from(lime), to(#89af37));
	    background: -webkit-linear-gradient(top,lime,#89af37);
	    background:    -moz-linear-gradient(top,lime,#89af37);
	    background:      -o-linear-gradient(top,lime,#89af37);
	    background:         linear-gradient(top,lime,#89af37);

	    -webkit-transition: opacity 1s linear;
	       -moz-transition: opacity 1s linear;
	         -o-transition: opacity 1s linear;
	            transition: opacity 1s linear;
	}

	#advancedOptions {
		cursor: pointer;
	}

	#results {
		page-break-after: always;
	}
}

/*----------------------------------------------------------------------------------------------------*/
/*------------------------------------------------PRINT-----------------------------------------------*/
/*----------------------------------------------------------------------------------------------------*/

@media print {
	body {zoom: 90%;}

	#calc {
		display: none;
	}

	#header {
		border-bottom: 1px solid black;
		color: black;
	}

	#footer {
		border: none;
		border-top: 1px solid black;
	}

	.bubble {
		border: 4px solid black;
		page-break-after: always;
	}

	.dayTable td {border-top: 1px solid black;}

	.weightCell {
		border-bottom: 1px solid black;
		border-left:  1px solid black;
		border-right: 1px solid black;
		border-top: none;
	}

	.repsCell {
		border-bottom: 1px solid black;
		border-left:  none;
		border-right: 1px solid black;
		border-top: none;
	}

	.dayContainer {
		border: none;
	}

	.ex1 {border: none;}
	.ex2, .ex3 {border-left: 1px solid black;}
}