@font-face {
	font-family: knewave;
	src: url('fonts/knewave/webfonts/knewave-webfont.eot') format('embedded-opentype'),
		 url('fonts/knewave/webfonts/knewave-webfont.svg') format('svg'),
		 url('fonts/knewave/webfonts/knewave-webfont.woff') format('woff'),
		 url('fonts/knewave/webfonts/knewave-webfont.ttf') format('ttf');
}

@font-face {
	font-family: orbitron;
	src: url('fonts/orbitron/Orbitron_Black.otf'),
		 url('fonts/knewave/webfonts/knewave-webfont.eot'); /* IE9 */
}

body {
	background-color: rgb(250,250,250);
	background-image: linear-gradient(bottom, rgb(225,225,225) 0%, rgb(250,250,250) 45%, rgb(255,255,255) 100%);
	background-image: -o-linear-gradient(bottom, rgb(225,225,225) 0%, rgb(250,250,250) 45%, rgb(255,255,255) 100%);
	background-image: -moz-linear-gradient(bottom, rgb(225,225,225) 0%, rgb(250,250,250) 45%, rgb(255,255,255) 100%);
	background-image: -webkit-linear-gradient(bottom, rgb(225,225,225) 0%, rgb(250,250,250) 45%, rgb(255,255,255) 100%);
	background-image: -ms-linear-gradient(bottom, rgb(225,225,225) 0%, rgb(250,250,250) 45%, rgb(255,255,255) 100%);

	background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, rgb(225,225,225)), color-stop(0.45, rgb(250,250,250)), color-stop(1, rgb(255,255,255)));
	height: 100%;

}

input {}

.field {
	width: 220px;
	height: 32px;
	border-radius: 9px;
	border: 1px solid rgba(0,0,0,0.25);
	padding: 5px 8px;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: 700;
	font-weight: 600;
	text-shadow: 0px 0px 1px rgba(0,0,0,0.5);
	color: rgb(32,32,32);
	box-shadow: inset 0px 0px 5px rgba(0,0,0,0.25);
	text-align: center;
	background-color: rgb(246,246,246);
}

.field:focus {
	background-color: white;
}


.output {
	font-size: 5em;
	font-family: knewave;
	font-style: bold;
	height: 128px;
	padding-top: 8px;
	padding-bottom: 16px;
	margin: 0;
	color: rgba(0,0,0,0.8);
	text-shadow: 1px 1px 3px rgba(0,0,0,0.4);
	border-top: 1px solid rgba(0,0,0,0.25);
	border-left: 1px solid rgba(0,0,0,0.25);
	border-right: 1px solid rgba(0,0,0,0.25);
}

p {
	margin: 16px 0 16px 0;
	letter-spacing: 0.08em;
	overflow: visible;
	line-height: 125%;
	z-index: -1;
}

.info {
	font-size: 1em;
}

.divider {
	height: 42px;
	margin: 0;
	padding: 12px 0 12px 0;
	border-top: 1px solid rgba(0,0,0,0.25);
	border-left: 1px solid rgba(0,0,0,0.25);
	border-right: 1px solid rgba(0,0,0,0.25);
	/*border-bottom: 1px solid rgba(0,0,0,0.25);*/
	font-family: Orbitron;
}

.error {
	font-size: 2em;
	font-family: knewave;
	font-style: bold;
	height: 96px;
	padding-top: 48px;
	padding-bottom: 0px;
	margin: 0;
	color: rgba(0,0,0,0.8);
}

a {
	font-family: Helvetica, Arial, sans-serif;
	color: white;
	text-decoration: none;
	text-shadow: 0px 0px 5px rgba(0,0,0,0.1);
	transition: 0.2s;
	-webkit-transition: 0.2s; /* Safari */
}

a:hover {
	text-shadow: 0px 0px 5px rgba(0,0,0,0.8);
	transition: 0.2s;
	-webkit-transition: 0.2s; /* Safari */
}

.label {
	float: left;
	margin-left: 24px;
	padding-top: 10px;
	height: 100%;
	font-family: Arial;
	font-weight: 600;
	text-shadow: 0px 0px 1px rgba(0,0,0,0.5);
	color: rgb(32,32,32);
}

.textBox {
	float: right;
	margin-right: 24px;
	padding-top: 4px;
}

.button {
	height: 42px;
	width: 225px;
	border-radius: 5px;
	border: 1px solid rgba(0,0,0,0.45);
	box-shadow: 0px 0px 5px rgba(0,0,0,0.75);
	font-family: Arial;
	font-weight: 100;
	text-shadow: 0px 0px 1px rgba(0,0,0,0.2);
	font-size: 0.9em;
	color: rgb(32,32,32);
	transition: 1s;
	-webkit-transition: 1s; /* Safari */

	background: #f2f2f2; /* Old browsers */
	background: -moz-linear-gradient(top,  #f2f2f2 0%, #e6dcdc 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f2f2f2), color-stop(100%,#e6dcdc)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #f2f2f2 0%,#e6dcdc 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #f2f2f2 0%,#e6dcdc 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #f2f2f2 0%,#e6dcdc 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #f2f2f2 0%,#e6dcdc 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2f2f2', endColorstr='#e6dcdc',GradientType=0 ); /* IE6-9 */
}

.button:hover {
	background: #e6dcdc; /* Old browsers */
	background: -moz-linear-gradient(top,  #e6dcdc 0%, #d7cdcd 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e6dcdc), color-stop(100%,#d7cdcd)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #e6dcdc 0%,#d7cdcd 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #e6dcdc 0%,#d7cdcd 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #e6dcdc 0%,#d7cdcd 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #e6dcdc 0%,#d7cdcd 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e6dcdc', endColorstr='#d7cdcd',GradientType=0 ); /* IE6-9 */
}

.bubble {
	background: #f2f2f2; /* Old browsers */
	background: -moz-linear-gradient(top,  #f2f2f2 0%, #e6dcdc 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f2f2f2), color-stop(100%,#e6dcdc)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #f2f2f2 0%,#e6dcdc 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #f2f2f2 0%,#e6dcdc 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #f2f2f2 0%,#e6dcdc 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #f2f2f2 0%,#e6dcdc 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2f2f2', endColorstr='#e6dcdc',GradientType=0 ); /* IE6-9 */
	width: 360px;
	border-radius: 8px;
	box-shadow: 3px 3px 8px #888888;
	text-align: center;
	margin: 32px auto 0 auto;
}

.smallText {
	font-size: 0.9em;
	font-family: Arial;
	height: 56px;
	padding: 8px 12px 8px 12px;
}

#header {
	background-color: rgb(240,15,90);
	background-image: linear-gradient(bottom, rgb(240,17,17) 0%, rgb(240,17,91) 100%);
	background-image: -o-linear-gradient(bottom, rgb(240,17,17) 0%, rgb(240,17,91) 100%);
	background-image: -moz-linear-gradient(bottom, rgb(240,17,17) 0%, rgb(240,17,91) 100%);
	background-image: -webkit-linear-gradient(bottom, rgb(240,17,17) 0%, rgb(240,17,91) 100%);
	background-image: -ms-linear-gradient(bottom, rgb(240,17,17) 0%, rgb(240,17,91) 100%);
	background-image: -webkit-gradient(linear, left bottom,	left top, color-stop(0, rgb(240,17,17)), color-stop(1, rgb(240,17,91)));
	border-radius: 8px 8px 0px 0px;
	color: white;
	font-size: 2.5em;
	padding-bottom: 5px;
	padding-top: 5px;
	font-family: orbitron;
	letter-spacing: 0.12em;
	text-shadow: 1px 1px 5px rgba(0,0,0,0.8);
	box-shadow: 0px 0px 3px rgba(0,0,0,0.2);
}

#footer {
	background-color: rgb(240,15,90);
	background-image: linear-gradient(bottom, rgb(240,17,91) 0%, rgb(240,17,17) 100%);
	background-image: -o-linear-gradient(bottom, rgb(240,17,91) 0%, rgb(240,17,17) 100%);
	background-image: -moz-linear-gradient(bottom, rgb(240,17,91) 0%, rgb(240,17,17) 100%);
	background-image: -webkit-linear-gradient(bottom, rgb(240,17,91) 0%, rgb(240,17,17) 100%);
	background-image: -ms-linear-gradient(bottom, rgb(240,17,91) 0%, rgb(240,17,17) 100%);
	background-image: -webkit-gradient(linear, left bottom,	left top, color-stop(0, rgb(240,17,91)), color-stop(1, rgb(240,17,17)));
	border-radius: 0px 0px 8px 8px;
	color: white;
	padding-top: 8px;
	font-size: 0.95em;
	height: 32px;
	box-shadow: 0px 0px 3px rgba(0,0,0,0.2);
	border-top: 1px solid rgba(0,0,0,0.2);
}