.excerciseTable td {
	border: 1px solid black;
}

.title {
	text-align: center;
}

.monday {
	background-color: rgba(0,0,255,0.1);
}

.wednesday {
	background-color: rgba(0,255,0,0.1);
}

.friday {
	background-color: rgba(255,0,0,0.1);
}

.weekTable td {
	vertical-align: top;
}

.topLabel {
	text-align: center;
}

.weightField {
	width: 100px;
	text-align: center;
}

.repField {
	width: 40px;
	text-align: center;
}

.setField {
	width: 40px;
	text-align: center;
}
